
<h1>Convert <%= @original_currency %> to <%= @destination_currency %> </h1>

<ul>
    <li>
         1 <%= @original_currency %> equals <%= @parsed_data["result"]%> <%= @destination_currency%>.
      
    </li>
</ul>

<a href="/<%= @original_currency %>">Go back</a>
