
<h1>Convert <%= @original_currency %> to...</h1>
<a href="/">Go back</a>
<ul>
  <% @symbols.each do |currency, name| %>
    <li>
      <a href="/<%= @original_currency %>/<%= currency %>">
        Convert 1 <%= @original_currency %> to <%= currency %>...
      </a>
    </li>
  <% end %>
</ul>
